#accesstool {
  width: 80px !important;
  height: 80px !important;
  position: fixed !important;
  background-color: transparent;
  border: 1px solid #279af1;
  border-radius: 5px;
  display: flex !important;
  justify-content: center !important;
  transition: all 0.3s ease-in-out;
  align-items: center !important;
  bottom: 40px !important;
  left: 10px !important;
  z-index: 999999 !important;
}
#accesstool:hover {
  background-color: rgba(143, 207, 237, 0.434);
  opacity: 0.8;
}
#accesstool span {
  font-size: 60px;
  color: #279af1;
  align-items: center;
  cursor: pointer;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.access-tool-bar {
  line-height: normal !important;
  letter-spacing: normal !important;
  color: #333 !important;
  overflow-y: auto !important;
  box-shadow: 1px 0 4px 0 #777 !important;
  position: fixed !important;
  height: 100vh !important;
  visibility: hidden;
  width: 320px !important;
  top: 0 !important;
  left: 0 !important;
  background-color: hsla(211, 100%, 16%, 0.937);
  transition: opacity 0.4s !important;
  z-index: 999999;
}

.main-header {
  position: fixed;
  text-align: center;
  text-transform: uppercase;
  width: 290px;
  line-height: 1.2;
  font-size: 16px !important;
  font-weight: bold;
  padding: 10px;
  color: black;
  margin-top: 20px;
  background-color: #fff;
  z-index: 2;
}
.main-header button {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  color: black;
  font-weight: bold;
  line-height: 1.1;
  font-size: 25px !important;
  right: 5px;
  padding-top: 5px;
  top: 0;
  border: none;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}
.main-header button:hover {
  color: #a50000;
  cursor: pointer;
}

.color {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  color: black;
  margin-top: 20px;
  padding: 10px;
  height: 280px;
}

.toolbar-header {
  margin-top: 10px;
  margin-bottom: 5px;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid #333;
  align-self: flex-start;
  margin-bottom: 1px;
  padding-bottom: 1px;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(33.3% - 8px);
  margin: 10px;
  border: 1px solid #279af1;
  padding: 5px;
  transition: all 0.3s ease-in-out;
}
.icon:hover {
  background-color: rgba(182, 181, 181, 0.29);
  border: 1px solid #279af1;
}

.icon-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 4px;
  margin: 4px;
}

.icn-rw {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 4px;
  margin: 4px;
}

.icon i {
  font-size: 40px;
  color: #6eb7f0;
  margin-bottom: 5px;
}

.icon span {
  text-align: center;
  padding-top: 5px;
  font-size: medium;
}

.Cursor {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  color: black;
  margin-top: 20px;
  padding: 10px;
  height: 280px;
}

.Credits {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  color: white;
  margin-top: 20px;
  padding: 10px;
  height: 150px;
}

.Cursororg {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  color: black;
  margin-top: 20px;
  padding: 10px;
  height: 160px;
}

.Reset {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  color: black;
  margin-top: 20px;
  padding: 10px;
  height: 150px;
}

.General {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  color: black;
  margin-top: 20px;
  padding: 10px;
  height: 280px;
}

.preset {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  color: black;
  margin-top: 80px;
  margin-bottom: 20px;
  padding: 10px;
  height: 450px;
}

.caret {
  display: flex;
  flex-direction: right;
  position: absolute;
  right: 30px;
  width: 0;
  height: 0; /* Center the caret within its container */
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 8px solid #fff;
  transition: 0.3s;
}
.caret:hover {
  cursor: pointer;
}

.preset-button {
  font-size: 18px;
  border: 1px solid #279af1;
  border-radius: 20px;
  width: 96%;
  height: 40px;
  padding: 8px;
  margin-top: 20px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsla(211, 76%, 19%, 0.937);
  color: #fff;
  transition: all 0.3s ease-in-out;
}
.preset-button:hover {
  background-color: #0e4671;
}
.preset-button .toggle-switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
  border-radius: 15px;
}
.preset-button .toggle-input-visual {
  opacity: 0; /* Hide the checkbox visually */
  width: 0;
  height: 0;
}
.preset-button .toggle-input-adhd {
  opacity: 0; /* Hide the checkbox visually */
  width: 0;
  height: 0;
}
.preset-button .toggle-input-epilepsy {
  opacity: 0; /* Hide the checkbox visually */
  width: 0;
  height: 0;
}
.preset-button .toggle-input-dyslexia {
  opacity: 0; /* Hide the checkbox visually */
  width: 0;
  height: 0;
}
.preset-button .toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 15px;
  transition: 0.4s;
}
.preset-button .toggle-slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 24px;
  border-radius: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}
.preset-button .toggle-input-visual:checked + .toggle-slider {
  background-color: hsla(211, 37%, 61%, 0.937);
}
.preset-button .toggle-input-visual:checked + .toggle-slider:before {
  left: calc(100% - 30px);
}
.preset-button .toggle-input-adhd:checked + .toggle-slider {
  background-color: hsla(211, 37%, 61%, 0.937);
}
.preset-button .toggle-input-adhd:checked + .toggle-slider:before {
  left: calc(100% - 30px);
}
.preset-button .toggle-input-epilepsy:checked + .toggle-slider {
  background-color: hsla(211, 37%, 61%, 0.937);
}
.preset-button .toggle-input-epilepsy:checked + .toggle-slider:before {
  left: calc(100% - 30px);
}
.preset-button .toggle-input-dyslexia:checked + .toggle-slider {
  background-color: hsla(211, 37%, 61%, 0.937);
}
.preset-button .toggle-input-dyslexia:checked + .toggle-slider:before {
  left: calc(100% - 30px);
}

.toolbar-menu {
  display: flex; /* Hide the menu initially */
  visibility: hidden;
  flex-direction: column; /* Arrange menu items vertically */
  left: 10px;
  top: 130px;
  height: 168px;
  width: 90%;
  position: absolute; /* Position relative to container */
  background-color: hsla(211, 76%, 19%, 0.937); /* Set background color */
  list-style: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  margin: 0;
  border: 1px solid #279af1;
  border-radius: 10px;
  z-index: 1;
  bottom: 0;
  text-decoration: none;
  text-align: center;
}

.toolbar-menu li {
  padding: 10px; /* Add some padding */
  border-radius: 10px;
  cursor: pointer; /* Add a pointer on hover */
  transition: all 0.3s ease-in-out;
  font-family: "Courier New", Courier, monospace;
  color: white;
  background-color: hsla(211, 76%, 19%, 0.937);
}
.toolbar-menu li:hover {
  background-color: #0e4671;
}

.toolbar-menu li a {
  font-size: 15px;
  color: white;
  text-decoration: none;
}

.toolbar-menu li:hover {
  opacity: 0.8;
}

.preset-button button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: black;
  line-height: 1.1;
  font-size: 30px !important;
  font-weight: 400;
  padding: 8px 5px 8px;
  border: none;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.preset-button button:hover {
  color: #a50000;
}

.access-tool-bar::-webkit-scrollbar {
  width: 10px;
}

.access-tool-bar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.access-tool-bar::-webkit-scrollbar-thumb {
  background-color: hsla(211, 40%, 45%, 0.529);
  border-radius: 5px;
}

.invert {
  filter: invert(1);
}

.grayscale {
  filter: grayscale(100%);
}

.lowsaturation {
  filter: sepia(100%);
}

.highsaturation {
  filter: contrast(200%);
}

.toolbar-item {
  display: inline-block; /* Arrange toolbar items side-by-side */
}

.black-box {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 2;
  pointer-events: none;
  transition: height 0.1s, top 0.1s;
  z-index: 100;
}

.top-box {
  top: 0;
  height: 50%; /* Initially cover half the screen */
  z-index: 100;
}

.bottom-box {
  bottom: 0;
  height: 50%; /* Initially cover half the screen */
  z-index: 100;
}




/* Preset filters */
.protanopia{filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="colorBlindness"><feColorMatrix type="matrix" values="0.56667 0.43333 0 0 0 0.55833 0.44167 0 0 0 0 0.24167 0.75833 0 0 0 0 0 1 0" /></filter></svg>#colorBlindness');}

.deuteranopia{filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="colorBlindness"><feColorMatrix type="matrix" values="0.625 0.375 0 0 0 0.7 0.3 0 0 0 0 0.3 0.7 0 0 0 0 0 1 0" /></filter></svg>#colorBlindness')}

.tritanopia{filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="colorBlindness"><feColorMatrix type="matrix" values="0.95 0.05 0 0 0 0 0.43333 0.56667 0 0 0 0.475 0.525 0 0 0 0 0 1 0" /></filter></svg>#colorBlindness')}

.acromatopsia{filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="colorBlindness"><feColorMatrix type="matrix" values="0.299 0.587 0.114 0 0 0.299 0.587 0.114 0 0 0.299 0.587 0.114 0 0 0 0 0 1 0" /></filter></svg>#colorBlindness')}

/* Dyslexia font */
@font-face {
  font-family: "OpenDyslexic";
  src: url("https://static.igem.wiki/teams/5684/wikifonts/opendyslexic-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.dyslexia-mode *{
  font-family: "OpenDyslexic", Arial, Verdana, sans-serif !important;
  line-height: 1.5 !important;
  letter-spacing: 0.05em !important;
}

/* Highlights */
body.link-highlight-enabled a {
  background-color: lightblue;
}

body.link-highlight-enabled a:hover {
  background-color: rgba(173, 216, 230, 0.5); /* lightblue80 */
}

body.button-highlight-enabled button {
  background-color: lightblue;
}

body.button-highlight-enabled button:hover {
  background-color: rgba(173, 216, 230, 0.5); /* lightblue80 */
}
