.chatButton{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    z-index: 999;
}

.chat-icon{
    width: 70px;
    height: 70px;
}

.chatWindow {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 300px; 
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 16px;
    z-index: 1000;
    max-height: calc(100vh - 180px);
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgb(221, 220, 220) transparent; 
}


@media (max-width: 480px){
    .chatWindow{
        right: 10px;
        left: 10px;
        width: auto;
        max-width: unset;
    }

    .chatButton{
        right: 10px;
        bottom: 10px;
        width: 50px;
        height: 50px
    }

    .langFlag{
        width: 20px;
        height: 14px;
    }

    .questionButton{
        font-size: 13px;
        padding: 8px;
    }

    .answerBox{
        font-size: 14px;
    }
}

.chatTitle{
    margin-bottom: 12px;
}

.questionButton{
    display: block;
    width: 100%;
    margin-bottom: 8px;
    background-color: #f0f0f0;
    border: none;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
}

.answerBox{
    margin-top: 12px;
    padding: 10px;
    background-color: #B7E4C7;
    border-radius: 6px;
}

.questionButton.selected{
    background-color: #B7E4C7;
    font-weight: bold;
    border-left: 4px solid #1B4332;
}

.chatButton{
    transition: transfrom 0.1s ease;
}

.chatButton:active{
    transform: scale(0.8);
}

.langFlag {
    width: 24px;
    height: 16px;
    object-fit: cover;
    border-radius: 2px;
}

.languageToggle button{
    background: none;
    border: none;
    padding: 0;
    margin-left: 8px;
    cursor: pointer;
    opacity : 0.3;
    transition: opacity 0.3s ease;
}

.languageToggle button.activeLang{
    opacity: 1;
}

.languageToggle button:focus{
    outline: none;
    box-shadow: none;
}

.bibliography{
    font-size: 0.75rem;
    color: #09472f6e;
    margin-top: 0.5rem;
    font-style: italic;
}