.cycle-display-wrap {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
}

.cycle-contents {
    display: flex;
    justify-content: center;
    grid-column: span 10;
}

.clickable-div {
    display: flex;
    justify-content: center;
    grid-column: span 2;
    float: left;
    width: 100%;
    aspect-ratio: 1/1;
    margin: 0 1rem 1rem 0;
}

.clickable-region {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(90%);
}

.clickable-region:hover {
    filter: brightness(110%);
}

.region {
    cursor: pointer;
}

.section-container::after {
    content: "";
    display: table;
    clear: both;
}

/* Mobile breakpoint */
@media (max-width: 1270px) {
  .cycle-contents {
    grid-column: span 12;
}   

.clickable-div {
    grid-column: span 12;
    width: 25vh;
    height: 25vh;
    float: left;
    margin: 0 1rem 1rem 0;
}
}