.team-section {
    padding: 2rem;
    text-align: center;
}

.team-section h2{
  font-size: 2rem;
  margin-bottom: 1.5rem;
    
}

.carousel-wrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}


.team-member{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}


.team-member img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
    transition: filter 0.3s ease, opacity 0.3s ease;
}

@media (max-width: 480px){
    .team-member img{
        max-width: 120px;
        height: 120px;
    }
}

.team-member p{
    margin-top: 0.5rem;
    font-weight: bold;
}

.team-member.blurred{
    opacity: 0.3;
    transform: scale(0.95);
    transition: all 0.3s ease;
}
