.image-container {
  position: relative;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;

  /* Apply the fade as a mask on the container */
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 25%,
    black 75%,
    transparent 100%
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;

  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 25%,
    black 75%,
    transparent 100%
  );
  mask-repeat: no-repeat;
  mask-size: 100% 100%;

  scrollbar-width: none;
}

.scroll-image {
  width: 100%;
  display: block;
}
