body {
  background-color: #d8f3dc;
}

.app-wrapper {
  position: relative;
}


/* .container {
  display: flex;
  margin:auto;
  align-items: center;
  align-content: center;
} */

.left-aligned {
  margin-left: auto;
}

.bg-dark {
  background-color: #343a40 !important;
}

.bg-hero {
  background-color: #d8f3dc;
}

/* CALLOUT */
.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #e9ecef;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
}

.bd-callout h4 {
  margin-bottom: 0.25rem;
}

.bd-callout p:last-child {
  margin-bottom: 0;
}

.bd-callout code {
  border-radius: 0.25rem;
}

.bd-callout + .bd-callout {
  margin-top: -0.25rem;
}

.bd-callout-info {
  border-left-color: #5bc0de;
}

.bd-callout-warning {
  border-left-color: #f0ad4e;
}

.bd-callout-danger {
  border-left-color: #d9534f;
}

/* footer */
/*footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: white;
  text-decoration: underline;
}*/

/*changing navbar settings*/
.custom-navbar{
  background-color: #d8f3dc;
}
.navbar a{
  color: #2D6A4F;
  font-weight: lighter;
  text-decoration: none;
}

.navbar a:hover{
  color: #823D86;
}

/*.footer-bottom-fill {
  width: 100%;
  height: 150px; 
  background-image: url('https://static.igem.wiki/teams/5684/wikipics/footer/underfooter.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}*/
