.aegean-edu-row1{background-image:url("https://static.igem.wiki/teams/5684/wikipics/education/aegean/bg-1.webp")}
.aegean-edu-row2{background-image:url("https://static.igem.wiki/teams/5684/wikipics/education/aegean/bg-2.webp")}
.aegean-edu-row3{background-image:url("https://static.igem.wiki/teams/5684/wikipics/education/aegean/bg-3.webp")}
.aegean-edu-row4{background-image:url("https://static.igem.wiki/teams/5684/wikipics/education/aegean/bg-4.webp")}
.aegean-edu-row5{background-image:url("https://static.igem.wiki/teams/5684/wikipics/education/aegean/bg-5.webp")}
.aegean-edu-row6{background-image:url("https://static.igem.wiki/teams/5684/wikipics/education/aegean/bg-6.webp")}