.ai-edu-row1{background-image:url("https://static.igem.wiki/teams/5684/wikipics/education/ai/bg-1.webp")}
.ai-edu-row2{background-image:url("https://static.igem.wiki/teams/5684/wikipics/education/ai/bg-2.webp")}
.ai-edu-row3{background-image:url("https://static.igem.wiki/teams/5684/wikipics/education/ai/bg-3.webp")}
.ai-edu-row4{background-image:url("https://static.igem.wiki/teams/5684/wikipics/education/ai/bg-4.webp")}
