.education-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.education-options {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.education-option-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.education-option-image {
  width: 300px; 
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.25);
  transition: transform 0.3s ease;
  margin-top: 15%;
}

.education-option-card:hover .education-option-image {
  transform: scale(1.05);
}

.education-option-title {
  margin-top: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  color: #1B4332;
  font-family: 'Poppins', sans-serif;
}

.education-title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
  font-family: 'Poppins', sans-serif;
  background: #2E7D32;

  -webkit-background-clip: text;  
  -moz-background-clip: text;     
  background-clip: text;           
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;    

  opacity: 0;
  transform: translateY(-20px);
  animation: fadeSlideIn 1s ease-out forwards;
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.education-details {
  max-width: 600px;
  text-align: center;
  margin: 2rem auto;
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
  color: #1B4332;
  animation: fadeSlideIn 0.8s ease-out forwards;
}

.education-details-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #2E7D32;
}

.education-details-text {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
}

.back-to-education {
  margin-top: 1.5rem;
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 8px;
  background: #2E7D32;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
}

.back-to-education:hover {
  background: #388E3C;
}

/*for go back button*/
.back {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background: #ddd;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  align-self: center;
  font-family: 'Poppins';
  color: #1B4332;
  transition: background 0.3s;
}

.back:hover {
  background-color: #ffe052;
}

/*using different bg for education*/
.education-details-full {
  width: 100%;
  min-height: 100vh; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 3rem;
}

.education-details-overlay {
  max-width: 1200px;
  width: 100%;
  padding: 2rem 3rem;
  border-radius: 12px;
  color: #1B4332;
}
