.video-header {
  position: relative;
  width: 100vw;
  height: 60vh;  
  overflow: hidden;  
}

.video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120vw;     
  height: 120vh;
  transform: translate(-50%, -50%);
  object-fit: contain;
  z-index: -1;
}


.header-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  /*for text*/
  /*color: rgb(9, 39, 21);
  text-align: center;
  font-family: 'Poppins', sans-serif;*/
  background: rgba(6, 72, 25, 0.4);
}

/*changing the dimensions for different screen sizes*/
@media (max-width: 1024px) {
  .video-header {
    left: -3%;          
    height: 50vh;    
  }

  .video-bg {
    min-width: 200%; 
    height: 120%;       
  }

  .header-content {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .video-header {
    height: 40vh;       
  }

  .video-bg {
    min-width: 250%;   
    height: 150%;
  }

  .header-content {
    font-size: 0.8rem;
  }
}

@media screen and (width: 1280px) and (height: 720px) {
  .video-header {
    width: 100vw;
    height: 100vh; 
  }

  .video-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}