.splash-screen {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(4, 43, 19, 0.6);
  backdrop-filter: blur(3px);
  z-index: 9999;
  animation: fadeOut 0.8s ease;
  animation-delay: 4.2s; 
}

.splash-image {
  width: 55rem;
  height: auto;
  border-radius: 45px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

/*screens*/
@media (max-width: 768px) {
  .splash-image {
    width: 80vw;
    border-radius: 25px;
  }

  .splash-screen {
    backdrop-filter: blur(10px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}