.aegean-inclu-row1{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/aegean/bg-9.webp")}
.aegean-inclu-row2{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/aegean/bg-10.webp")}
.aegean-inclu-row3{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/aegean/bg-11.webp")}
.aegean-inclu-row4{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/aegean/bg-12.webp")}
.aegean-inclu-row5{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/aegean/bg-13.webp")}
.aegean-inclu-row6{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/aegean/bg-14.webp")}
