

.conf-section-inclu {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
}


.conf-text-container-inclu{
  position: relative;   
  top: 10rem;            
  margin-right: 320px; 
  color: #1b4332;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  line-height: 1.8;
  width: 50rem;
  right: 12rem;
}

.introduction-inclu-conf {
  position: absolute;
  width: 300px;   
  height: auto;
  border-radius: 12px;
  top: -13rem;
  right: 30rem;  
  z-index: 10;
}


.team-conf-inclu{
  position: absolute;
  width: 500px;   
  height: auto;
  border-radius: 12px;
  top: 10rem;
  right: -10rem;  
  z-index: 10;
}

/* Organization section */
.organization-section-inclu-conf {
  margin-top: 30rem;
  text-align: center;
}

.organization-image-inclu-conf {
  position: absolute;
  width: 400px;   
  height: auto;
  border-radius: 12px;
  top: 33rem;
  right: 50rem;  
  z-index: 10;
}

.organization-text-inclu-conf {
  position: relative;   
  color: #1b4332;
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  bottom: 9rem;
  left: -2rem;
  width: 70rem;
  margin-bottom: 15rem;
}

.thom-conf-inclu{
  position: absolute;
  width: 550px;   
  height: auto;
  border-radius: 12px;
  top: 85rem;
  right: -12rem;  
  z-index: 10;
}

/* Implementation section */
.implementation-section-inclu-conf {
  margin-top: 4rem;
  text-align: left;
}

.implementation-image-inclu-conf {
  position: absolute;
  width: 300px;   
  height: auto;
  border-radius: 12px;
  right: 39rem;  
  z-index: 10;
  width: 30rem;
  top: 60rem;
}

.impl-conf-inclu.center-inclu-conf{
  position: absolute;
  width: 300px;   
  height: auto;
  border-radius: 12px;
  right: 25rem;  
  z-index: 10;
  width: 50rem;
  top: 83rem;
  color: #1b4332;
}

/*outcomes*/
.outcomes-image-inclu-conf {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  left: 18rem;  
  z-index: 10;
  width: 30rem;
  top: 110rem;
}

.outcomes-text-inclu-conf {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 36rem;
  left: -5rem;
  width: 70rem;
  color: #1b4332;
}
.outcomes-text-inclu-conf ul {
  list-style: disc;    
  padding-left: 1.5rem;  
  margin: 0;
}

.outcomes-text-inclu-conf li {
  margin-bottom: 0.8rem;
}


/*why is it important part*/
.important-section-inclu-conf {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin: 10rem auto;   
  max-width: 1200px;
}

.important-image-inclu-conf {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  right: -12rem;  
  z-index: 10;
  width: 30rem;
  top: 145rem;
}

.important-text-inclu-conf {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 26rem;
  left: -15rem;
  width: 60rem;
  color: #fff;
}

/* What did we gain section */
.gain-section-inclu-conf {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin: 10rem auto;   
  max-width: 1200px;
}

.gain-image-inclu-conf {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  right: 35rem;  
  z-index: 10;
  width: 30rem;
  top: 170rem;
}

.gain-text-inclu-conf {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 30rem;
  left: 5rem;
  width: 60rem;
  color: #1b4332;
  padding-bottom: 18rem;
}


/*screens*/
@media (max-width: 1280px) {


.conf-section-inclu {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
}


.conf-text-container-inclu{
  position: relative;   
  top: 10rem;            
  margin-right: 320px; 
  color: #1b4332;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  line-height: 1.8;
  width: 35rem;
  right: 5rem;
}

.introduction-inclu-conf {
  position: absolute;
  width: 300px;   
  height: auto;
  border-radius: 12px;
  top: -13rem;
  right: 16rem;  
  z-index: 10;
}


.team-conf-inclu{
  position: absolute;
  width: 500px;   
  height: auto;
  border-radius: 12px;
  top: 10rem;
  right: -4rem;  
  z-index: 10;
}

/* Organization section */
.organization-section-inclu-conf {
  margin-top: 30rem;
  text-align: center;
}

.organization-image-inclu-conf {
  position: absolute;
  width: 400px;   
  height: auto;
  border-radius: 12px;
  top: 43rem;
  right: 40rem;  
  z-index: 10;
}

.organization-text-inclu-conf {
  position: relative;   
  color: #1b4332;
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  bottom: 9rem;
  left: -2rem;
  width: 70rem;
  margin-bottom: 15rem;
}

.thom-conf-inclu{
  position: absolute;
  width: 500px;   
  height: auto;
  border-radius: 12px;
  top: 85rem;
  right: -8rem;  
  z-index: 10;
}

/* Implementation section */
.implementation-section-inclu-conf {
  margin-top: 4rem;
  text-align: left;
}

.implementation-image-inclu-conf {
  position: absolute;
  height: auto;
  border-radius: 12px;
  right: 39rem;  
  z-index: 10;
  width: 25rem;
  top: 69rem;
}

.impl-conf-inclu.center-inclu-conf{
  position: absolute;
  width: 300px;   
  height: auto;
  border-radius: 12px;
  right: 25rem;  
  z-index: 10;
  width: 40rem;
  top: 88rem;
  color: #1b4332;
}

/*outcomes*/
.outcomes-image-inclu-conf {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  left: 18rem;  
  z-index: 10;
  width: 30rem;
  top: 123rem;
}

.outcomes-text-inclu-conf {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 40rem;
  left: -5rem;
  width: 70rem;
  color: #1b4332;
}
.outcomes-text-inclu-conf ul {
  list-style: disc;    
  padding-left: 1.5rem;  
  margin: 0;
}

.outcomes-text-inclu-conf li {
  margin-bottom: 0.8rem;
}


/*why is it important part*/
.important-section-inclu-conf {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin: 10rem auto;   
  max-width: 1200px;
}

.important-image-inclu-conf {
  position: absolute;
  height: auto;
  border-radius: 12px;
  right: -5rem;  
  z-index: 10;
  width: 25rem;
  top: 165rem;
}

.important-text-inclu-conf {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 33rem;
  left: -3rem;
  width: 45rem;
  color: #fff;
}

/* What did we gain section */
.gain-section-inclu-conf {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin: 10rem auto;   
  max-width: 1200px;
}

.gain-image-inclu-conf {
  position: absolute;
  width: 230px;   
  height: auto;
  border-radius: 12px;
  right: 35rem;  
  z-index: 10;
  width: 30rem;
  top: 183rem;
}

.gain-text-inclu-conf {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 33rem;
  left: 5rem;
  width: 60rem;
  color: #1b4332;
  padding-bottom: 18rem;
}
}