.eebe-sci-row1{background-image:url("https://static.igem.wiki/teams/5684/wikipics/education/ai/bg-2.webp")}
.eebe-sci-row2{background-image:url("https://static.igem.wiki/teams/5684/wikipics/education/ai/bg-1.webp")}