.elepap-inclu-row1{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/elepap/bg-1.webp")}
.elepap-inclu-row2{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/elepap/bg-2.webp")}
.elepap-inclu-row3{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/elepap/bg-3.webp")}
.elepap-inclu-row4{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/elepap/bg-4.webp")}
.elepap-inclu-row5{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/elepap/bg-5.webp")}
.elepap-inclu-row6{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/elepap/bg-6-2.webp")}