.esfie-inclu-row1{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/esfie/bg-1.webp")}
.esfie-inclu-row2{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/esfie/bg-2.webp")}
.esfie-inclu-row3{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/esfie/bg-3.webp")}
.esfie-inclu-row4{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/esfie/bg-4.webp")}