

.fairytails-section {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
}

.introduction-fairytails{
  position: absolute;
  width: 300px;   
  height: auto;
  border-radius: 12px;
  top: -4rem;
  right: 43rem;  
  z-index: 10;
}

.fairytails-text-container{
  position: relative;   
  top: 7rem;            
  margin-right: 320px; 
  color: #1b4332;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  line-height: 1.8;
  width: 70rem;
}

/* Organization section */
.organization-section-fairytails {
  margin-top: 4rem;
  text-align: center;
}

.organization-image-fairytails {
  position: absolute;
  width: 300px;   
  height: auto;
  border-radius: 12px;
  top: 23rem;
  right: 45rem;  
  z-index: 10;
}

.organization-text-fairytails {
  position: relative;   
  background: #823d86;
  color: white;
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 10rem;
  right: 1rem;
  width: 70rem;
}

.organization-text-fairytails ul {
  margin-left: 1.5rem;
  list-style: disc;
}

/* Implementation section */
.implementation-section-fairytails {
  margin-top: 4rem;
  text-align: center;
}

.implementation-image-fairytails {
  position: absolute;
  width: 300px;   
  height: auto;
  border-radius: 12px;
  right: 50rem;  
  z-index: 10;
  width: 30rem;
  top: 50rem;
}

.impl-block-fairytails {
  padding: 1rem;
  font-size: 1.1rem;
  line-height: 1.8;
}

.impl-block-fairytails.center {
    position: relative;
    color: #1b4332;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8;
    width: 80rem;
    top: 20rem;
    right: 10rem;
}

.impl-block-fairytails.center ul {
  list-style: disc;    
  padding-left: 1.5rem;  
  margin: 0;
}

.impl-block-fairytails.center li {
  margin-bottom: 0.8rem;
}


/*outcome part*/
.outcomes-image-fairytails {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  left: 40rem;  
  z-index: 10;
  width: 30rem;
  top: 82rem;
}


.outcomes-text-fairytails {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 30rem;
  right: 10rem;
  width: 90rem;
  color: #1b4332;
}

.outcomes-images-row {
  display: flex;
  justify-content: space-between;
  margin-top: 30rem; 
  gap: 1rem; 
}

.small-outcome-image {
    width: 40%; 
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.small-outcome-image:hover {
  transform: scale(1.05);
}

.covers-container {
    background-color: #dcefe3; 
    border-radius: 50px;      
    padding: 0.2rem 1.5rem;    
    margin: 1rem auto;     
    text-align: center;        
    color: #1b4332;               
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;            
    max-width: 40rem;           
}
.covers-container p {
  margin-top: 1rem; 
}



/*why is it important part*/
.important-section-fairytails {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin: 10rem auto;   
  max-width: 1200px;
}

.important-image-fairytails {
  position: absolute;
  height: auto;
  border-radius: 12px;
  right: 16rem;  
  z-index: 10;
  width: 30rem;
  bottom: 35rem;
}

.important-text-fairytails {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  bottom: -1rem;
  left: 1rem;
  width: 70rem;
  color: #1b4332;
}

/* What did we gain section */
.gain-section-fairytails {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin: 10rem auto;   
  max-width: 1200px;
}

.gain-image-fairytails {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  right: 35rem;  
  z-index: 10;
  width: 30rem;
  top: 160rem;
}

.gain-text-fairytails {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 4rem;
  left: 5rem;
  width: 60rem;
  color: #fff;
  padding-bottom: 0rem;
}


/*screens*/
@media (max-width: 1280px) {

.fairytails-text-container {
  position: relative;   
  top: 7rem;            
  margin-right: 320px; 
  color: #1b4332;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  line-height: 1.8;
  width: 60rem;
}


.organization-image-fairytails {
  position: absolute;
  width: 300px;   
  height: auto;
  border-radius: 12px;
  top: 25rem;
  right: 45rem;  
  z-index: 10;
}

.organization-text-fairytails {
  position: relative;   
  background: #823d86;
  color: white;
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 10rem;
  right: 4rem;
  width: 70rem;
}


/* Implementation section */
.implementation-section-fairytails {
  margin-top: 4rem;
  text-align: center;
}

.implementation-image-fairytails {
  position: absolute;
  height: auto;
  border-radius: 12px;
  right: 50rem;  
  z-index: 10;
  width: 25rem;
  bottom: 80rem;
  right: 40rem;
}

.impl-block-fairytails.center {
  text-align: left;
  position: absolute;   
  right: -8rem;
  width: 70rem;
  top: 68rem;
}

/*outcome part*/
.outcomes-image-fairytails {
  position: absolute;
  height: auto;
  border-radius: 12px;
  left: 40rem;  
  z-index: 10;
  width: 25rem;
  top: 85rem;
}

.outcomes-text-fairytails {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 50rem;
  right: 3rem;
  width: 70rem;
  color: #1b4332;
}

.small-outcome-image {
    width: 18rem;
    margin-top: 20rem;      
} 


/*why is it important part*/
.important-image {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  right: 15rem;  
  z-index: 10;
  width: 25rem;
  top: 208rem;
}

.important-text {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: -1rem;
  left: 5rem;
  width: 60rem;
  color: #1b4332;
}

/* What did we gain section */
.gain-section {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin: 10rem auto;   
  max-width: 1200px;
}

.gain-image {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  right: 35rem;  
  z-index: 10;
  width: 25rem;
  top: 237rem;
}

.gain-text {
  position: relative;
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: -3rem;
  left: 5rem;
  width: 60rem;
  color: #fff;
  padding-bottom: 0rem;
}

.iThess-image {
  display: block;
  margin: -25rem 0 0 auto;
  width: 50rem;
  height: auto;
}

}