

.intl-womens1-section-sci {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: -5rem auto;
  padding: 2rem;
}

.intl-womens1-text-container-sci{
    position: relative;   
    top: 4rem;            
    margin-right: 320px; 
    color: #1b4332;
    background-color: rgba(210, 232, 222, 0.75);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8;
    width: 70rem;
    right: 2rem;
    border-radius: 12px;
    padding: 3rem;
    margin-bottom: 10rem;

}


.intl-womens2-text-container-sci{
    position: relative;   
    top: -3rem;            
    margin-right: 320px; 
    color: #1b4332;
    background-color: rgba(210, 232, 222, 0.75);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8;
    width: 70rem;
    right: 2rem;
    border-radius: 12px;
    padding: 3rem;
    margin-bottom: 10rem;
}


.intl-womens3-text-container-sci{
    position: relative;   
    top: -10rem;            
    margin-right: 320px; 
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8;
    width: 40rem;
    left: 30rem;
    border-radius: 12px;
    padding: 3rem;

}

.intl-womens3-img-sci{
  position: absolute;
  width: 550px;   
  height: auto;
  border-radius: 12px;
  top: 53rem;
  right: 30rem;  
  z-index: 10;
}


.intl-womens4-text-container-sci{
    position: relative;   
    top: -4rem;            
    margin-right: 320px; 
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8;
    width: 70rem;
    right: 2rem;
    border-radius: 12px;
    padding: 3rem;

}




/*screens*/
@media (max-width: 1280px) {

.intl-womens1-section-sci {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: -5rem auto;
  padding: 2rem;
}

.intl-womens1-text-container-sci{
    position: relative;   
    top: 4rem;            
    margin-right: 320px; 
    color: #1b4332;
    background-color: rgba(210, 232, 222, 0.75);    
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8;
    width: 70rem;
    right: 4rem;
    border-radius: 12px;
    padding: 3rem;
    margin-bottom: 10rem;

}


.intl-womens2-text-container-sci{
    position: relative;   
    top: -2rem;            
    margin-right: 320px; 
    color: #1b4332;
    background-color: rgba(210, 232, 222, 0.75);
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8;
    width: 70rem;
    right: 4rem;
    border-radius: 12px;
    padding: 3rem;
    margin-bottom: 10rem;
}


.intl-womens3-text-container-sci{
    position: relative;   
    top: -8rem;            
    margin-right: 320px; 
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8;
    width: 40rem;
    left: 30rem;
    border-radius: 12px;
    padding: 3rem;

}

.intl-womens3-img-sci{
  position: absolute;
  width: 550px;   
  height: auto;
  border-radius: 12px;
  top: 55rem;
  right: 30rem;  
  z-index: 10;
}


.intl-womens4-text-container-sci{
    position: relative;   
    top: -6rem;            
    margin-right: 320px; 
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8;
    width: 70rem;
    right: 2rem;
    border-radius: 12px;
    padding: 3rem;

}
}


/* ---------- Tablet (≤1024px) ---------- */
@media (max-width: 1024px) {
  .intl-womens1-section-sci {
    width: 94%;
    margin: -2rem auto 2rem;
    padding: 1.5rem;
  }

  /* Stack cards full-width, remove offsets */
  .intl-womens1-text-container-sci,
  .intl-womens2-text-container-sci,
  .intl-womens3-text-container-sci,
  .intl-womens4-text-container-sci {
    position: static;
    top: auto; right: auto; left: auto; margin-right: 0;
    width: 100%;
    padding: 2rem;
    font-size: 1.05rem;
    line-height: 1.8;
    border-radius: 12px;
    margin-bottom: 1.75rem;
  }

  /* Trim the very large desktop gaps */
  .intl-womens1-text-container-sci,
  .intl-womens2-text-container-sci { margin-bottom: 1.75rem; }

  /* Image becomes fluid and centered */
  .intl-womens3-img-sci {
    position: static;
    display: block;
    width: 100%;
    max-width: 560px;
    height: auto;
    border-radius: 12px;
    margin: 0 auto 1.75rem;
  }
}

/* ---------- Large phones / Small tablets (≤768px) ---------- */
@media (max-width: 768px) {
  .intl-womens1-section-sci {
    width: 96%;
    padding: 1rem;
    margin-top: 10px;
  }

  .intl-womens1-text-container-sci,
  .intl-womens2-text-container-sci,
  .intl-womens3-text-container-sci,
  .intl-womens4-text-container-sci {
    padding: 1.25rem 1rem;
    font-size: 1rem;
    line-height: 1.7;
    margin-bottom: 1.25rem;
  }

  .intl-womens3-img-sci {
    max-width: 440px;
    margin-bottom: 1.25rem;
  }
}

/* ---------- Small phones (≤480px) ---------- */
@media (max-width: 480px) {
  .intl-womens1-section-sci {
    width: 98%;
    padding: 0.75rem;
  }

  .intl-womens1-text-container-sci,
  .intl-womens2-text-container-sci,
  .intl-womens3-text-container-sci,
  .intl-womens4-text-container-sci {
    padding: 1rem 0.875rem;
    font-size: 0.95rem;
    line-height: 1.65;
    border-radius: 10px;
    margin-bottom: 1rem;
  }

  .intl-womens3-img-sci {
    max-width: 100%;
    margin-bottom: 1rem;
  }
}
