.intlwomens-edu-row1{background-image:url("https://static.igem.wiki/teams/5684/wikipics/education/pfsb/bg-1.webp")}
.intlwomens-edu-row2{background-image:url("https://static.igem.wiki/teams/5684/wikipics/education/pfsb/bg-2.webp")}
.intlwomens-edu-row3{background-image:url("https://static.igem.wiki/teams/5684/wikipics/education/intlwomens/bg-2.webp")}
.intlwomens-edu-row4{background-image:url("https://static.igem.wiki/teams/5684/wikipics/education/intlwomens/bg-3.webp")}
