.pfsbo-inclu-row1{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/pfsbo/bg-1.webp")}
.pfsbo-inclu-row2{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/pfsbo/bg-2-2.webp")}
.pfsbo-inclu-row3{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/pfsbo/bg-3.webp")}
.pfsbo-inclu-row4{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/pfsbo/bg-4.webp")}
