.platanomanter-inlcu-row1{background-image:url("https://static.igem.wiki/teams/5684/wikipics/education/pfsb/bg-1.webp")}
.platanomanter-inlcu-row2{background-image:url("https://static.igem.wiki/teams/5684/wikipics/education/pfsb/bg-2.webp")}
.platanomanter-inlcu-row3{background-image:url("https://static.igem.wiki/teams/5684/wikipics/education/intlwomens/bg-2.webp")}
.platanomanter-inlcu-row4{background-image:url("https://static.igem.wiki/teams/5684/wikipics/education/intlwomens/bg-3.webp")}
