

.pri-section-sci {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
}


.pri-text-container-sci{
  position: relative;   
  top: 3rem;            
  margin-right: 320px; 
  color: #1b4332;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  line-height: 1.8;
  width: 40rem;
}

.icon-pri-sci{
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  top: 2rem;
  right: 5rem;  
  z-index: 10;
}

/* Organization section */
.organization-section-scipri {
  margin-top: 4rem;
  text-align: center;
}

.organization-text-scipri {
  position: relative;   
  color: white;
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 5rem;
  right: 4rem;
  width: 70rem;
}


/* Implementation section */
.implementation-section-sci {
  margin-top: 4rem;
  text-align: center;
}

.impl-prison-sci.center-sci-pri{
  position: absolute;
  width: 300px;   
  height: auto;
  border-radius: 12px;
  right: 1rem;  
  z-index: 10;
  width: 60rem;
  top: 30rem;
  color: #fff;
}


/*outcome part*/
.outcomes-section-sci {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  left: 30rem;  
  z-index: 10;
  width: 30rem;
  top: 80rem;
}

.outcomes-text-sci-pri {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: -45rem;
  right: 30rem;  
  width: 60rem;
  color: #fff;
}

/*why is it important part*/
.important-section-sci {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin: 15rem auto;   
  max-width: 1200px;
}

.important-text-sci-pri {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 8rem;
  right: 0.5rem;
  width: 55rem;
  color: #fff;
}


/*screens*/
@media (max-width: 1280px) {

.pri-section-sci {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
}


.pri-text-container-sci{
  position: relative;   
  top: 8rem;            
  margin-right: 320px; 
  color: #1b4332;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  line-height: 1.8;
  width: 40rem;
}

.icon-pri-sci{
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  top: 5rem;
  right: 5rem;  
  z-index: 10;
}

/* Organization section */
.organization-section-scipri {
  margin-top: 4rem;
  text-align: center;
}

.organization-text-scipri {
  position: relative;   
  color: #1b4332;
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 8rem;
  right: 4rem;
  width: 70rem;
}


/* Implementation section */
.implementation-section-sci {
  margin-top: 4rem;
  text-align: center;
}

.impl-prison-sci.center-sci-pri{
  position: absolute;
  width: 300px;   
  height: auto;
  border-radius: 12px;
  right: 1rem;  
  z-index: 10;
  width: 60rem;
  top: 35rem;
  color: #fff;
}


/*outcome part*/
.outcomes-section-sci {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  left: 30rem;  
  z-index: 10;
  width: 30rem;
  top: 82rem;
}

.outcomes-text-sci-pri {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: -44rem;
  right: 30rem;  
  width: 60rem;
  color: #fff;
}

/*why is it important part*/
.important-section-sci {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin: 25rem auto;   
  max-width: 1200px;
}

.important-text-sci-pri {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 1rem;
  right: 0.5rem;
  width: 60rem;
  color: #fff;
}
}