

.sfhmmy-section {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
}

.introduction-sf {
  position: absolute;
  width: 300px;   
  height: auto;
  border-radius: 12px;
  top: -4rem;
  right: 43rem;  
  z-index: 10;
}

.sfhmmy-text-container {
  position: relative;   
  top: 7rem;            
  margin-right: 320px; 
  color: #1b4332;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  line-height: 1.8;
  width: 70rem;
}

/* Organization section */
.organization-section {
  margin-top: 4rem;
  text-align: center;
}

.organization-image {
  position: absolute;
  width: 300px;   
  height: auto;
  border-radius: 12px;
  top: 23rem;
  right: 45rem;  
  z-index: 10;
}

.organization-text {
  position: relative;   
  background: #823d86;
  color: white;
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 10rem;
  right: 1rem;
  width: 70rem;
}

.organization-text ul {
  margin-left: 1.5rem;
  list-style: disc;
}

/* Implementation section */
.implementation-section {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 10rem;
  right: 1rem;
  width: 70rem;
  color: #1b4332;
}

.implementation-image {
  position: absolute;
  width: 300px;   
  height: auto;
  border-radius: 12px;
  bottom: 55rem;
  right: 50rem;  
  z-index: 10;
  width: 30rem;
  bottom: 45rem;
}

.impl-block {
  max-width: 800px;
  padding: 1rem;
  font-size: 1.1rem;
  line-height: 1.8;
}

.impl-block.right {
  text-align: left;
  position: absolute;   
  left: 25rem;
  width: 60rem;
  top: 5rem;
}

.impl-block.right ul {
  list-style: disc;    
  padding-left: 1.5rem;  
  margin: 0;
}

.impl-block.right li {
  margin-bottom: 0.8rem;
}

.impl-block.left {
  align-self: flex-start;
  text-align: left;
  position: relative;   
  right: 16rem;
  width: 40rem;
  top: 15rem;
}

.impl-block.right1 {
  align-self: flex-start;
  text-align: left;
  position: relative;   
  left: 25rem;
  width: 50rem;
  top: 1rem;
}

.impl-block.right1 ul {
  list-style: disc;
  padding-left: 1.5rem;
  margin-top: 0.5rem;
}

.references-sfhmmy1 {
  position: absolute;
  top: 117rem;         
  right: 65rem;            
  padding: 1rem 2rem;
  background: #823d86; 
  border-radius: 20px;
  z-index: 10;
}

.references-sfhmmy1-title {
  color: #ffffff;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
}

.sfhmmy1-references {
  position: absolute;
  top: 120rem;                 
  right: 35rem;           
  margin-left: -12rem;  
  width: 700px;
  max-width: 700px;
  background: #823d86; 
  padding: 1.5rem 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  font-size: 0.95rem;
  line-height: 1.5;
  color: #ffffff; 

}

.sfhmmy1-references a {
  color: #ffffff; 
  text-decoration: underline;
}

.sfhmmy1-references li::marker {
  color: #ffffff;
  font-weight: bold;
}

.sfhmmy1-references ol {
  margin: 0;
  padding-left: 20px;
}

.sfhmmy1-references li {
  margin-bottom: 10px;
}

/*outcome part*/
.outcomes-image {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  left: 20rem;  
  z-index: 10;
  width: 30rem;
  top: 130rem;
}

.greentxt-outcomes{
  color: #1b4332;
}

.outcomes-text {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 20rem;
  left: 14rem;
  width: 40rem;
  color: #1b4332;
}

.outcomes-text ul {
  list-style: disc;    
  padding-left: 1.5rem;  
  margin: 0;
}

.outcomes-text li {
  margin-bottom: 0.8rem;
}

.outcomes-image-left {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  z-index: 10;
  width: 30rem;
  top: 150rem;
  left: 50rem;  
}

.outcomes-image-right {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  z-index: 10;
  width: 30rem;
  top: 150rem;
  right: 45rem;  
}

.outcomes-text1 {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 27rem;
  right: 10rem;
  width: 90rem;
  color: #ffffff;
}

.outcomes-text1 ul {
  list-style: disc;    
  padding-left: 1.5rem;  
  margin: 0;
}

.outcomes-text1 li {
  margin-bottom: 0.8rem;
}

/*why is it important part*/
.important-section {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin: 10rem auto;   
  max-width: 1200px;
}

.important-image {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  right: 15rem;  
  z-index: 10;
  width: 30rem;
  top: 209rem;
}

.important-text {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 25rem;
  left: 5rem;
  width: 60rem;
  color: #1b4332;
}

/* What did we gain section */
.gain-section {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin: 10rem auto;   
  max-width: 1200px;
}

.gain-image {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  right: 35rem;  
  z-index: 10;
  width: 30rem;
  top: 238rem;
}

.gain-text {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 24rem;
  left: 5rem;
  width: 60rem;
  color: #fff;
  padding-bottom: 0rem;
}

.iThess-image {
  display: block;
  margin: 0 0 0 auto;
  width: 50rem; 
  height: auto;
}

/*screens*/
@media (max-width: 1280px) {

.sfhmmy-text-container {
  position: relative;   
  top: 7rem;            
  margin-right: 320px; 
  color: #1b4332;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  line-height: 1.8;
  width: 60rem;
}


.organization-image {
  position: absolute;
  width: 300px;   
  height: auto;
  border-radius: 12px;
  top: 25rem;
  right: 45rem;  
  z-index: 10;
}

.organization-text {
  position: relative;   
  background: #823d86;
  color: white;
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 10rem;
  right: 4rem;
  width: 70rem;
}


/* Implementation section */
.implementation-section {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 10rem;
  right: 1rem;
  width: 70rem;
  color: #1b4332;
}

.implementation-image {
  position: absolute;
  width: 300px;   
  height: auto;
  border-radius: 12px;
  right: 50rem;  
  z-index: 10;
  width: 25rem;
  bottom: 65rem;
}

.impl-block.right {
  text-align: left;
  position: absolute;   
  left: 25rem;
  width: 45rem;
  top: 5rem;
}

.impl-block.left {
  align-self: flex-start;
  text-align: left;
  position: relative;   
  right: 7rem;
  width: 30rem;
  top: 10rem;
}

.impl-block.right1 {
  align-self: flex-start;
  text-align: left;
  position: relative;   
  left: 25rem;
  width: 40rem;
  top: -9rem;
}

.references-sfhmmy1 {
  position: absolute;
  top: 124rem;         
  right: 55rem;            
  padding: 1rem 2rem;
  background: #823d86; 
  border-radius: 20px;
  z-index: 10;
}

.sfhmmy1-references {
  position: absolute;
  top: 126rem;                 
  right: 35rem;           
  margin-left: -12rem;  
  width: 500px;
  max-width: 700px;
  background: #823d86; 
  padding: 1.5rem 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  font-size: 0.95rem;
  line-height: 1.5;
  color: #ffffff; 
}

/*outcome part*/
.outcomes-image {
  position: absolute;
  height: auto;
  border-radius: 12px;
  left: 20rem;  
  z-index: 10;
  width: 25rem;
  top: 138rem;
}



.outcomes-text {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 6rem;
  left: 13rem;
  width: 35rem;
  color: #1b4332;
}

.outcomes-image-left {
  position: absolute;
  height: auto;
  border-radius: 12px;
  z-index: 10;
  width: 25rem;
  top: 150rem;
  left: 46rem;  
}

.outcomes-image-right {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  z-index: 10;
  width: 25rem;
  top: 150rem;
  right: 46rem;   
}

.outcomes-text1 {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 3rem;
  left: 1rem; 
  width: 70rem;
  color: #ffffff;
}

/*why is it important part*/
.important-image {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  right: 15rem;  
  z-index: 10;
  width: 25rem;
  top: 208rem;
}

.important-text {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: -1rem;
  left: 5rem;
  width: 60rem;
  color: #1b4332;
}

/* What did we gain section */
.gain-section {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin: 10rem auto;   
  max-width: 1200px;
}

.gain-image {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  right: 35rem;  
  z-index: 10;
  width: 25rem;
  top: 237rem;
}

.gain-text {
  position: relative;
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: -3rem;
  left: 5rem;
  width: 60rem;
  color: #fff;
  padding-bottom: 0rem;
}

.iThess-image {
  display: block;
  margin: -25rem 0 0 auto;
  width: 50rem;
  height: auto;
}

}