

.sfhmmy-section-inclu {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
}

.sfhmmy-text-container-inclu {
  position: relative;   
  top: 7rem;            
  margin-right: 320px; 
  color: #1b4332;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  line-height: 1.8;
  width: 70rem;
}

.introduction-sf-inclu {
  position: absolute;
  width: 300px;   
  height: auto;
  border-radius: 12px;
  top: -4rem;
  right: 43rem;  
  z-index: 10;
}



/* Organization section */
.organization-section-inclu {
  margin-top: 4rem;
  text-align: center;
}

.organization-image-inclu {
  position: absolute;
  width: 300px;   
  height: auto;
  border-radius: 12px;
  top: 20rem;
  right: 45rem;  
  z-index: 10;
}

.organization-text-inclu {
  position: relative;   
  background: #823d86;
  color: white;
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 10rem;
  right: 1rem;
  width: 70rem;
}

.organization-text-inclu ul {
  margin-left: 1.5rem;
  list-style: disc;
}

/* Implementation section */
.implementation-section-inclu {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 10rem;
  right: 1rem;
  width: 70rem;
  color: #1b4332;
}

.implementation-image-inclu {
  position: absolute;
  width: 300px;   
  height: auto;
  border-radius: 12px;
  right: 50rem;  
  z-index: 10;
  width: 30rem;
  bottom: 35rem;
}

.impl-block-inclu {
  padding: 1rem;
  font-size: 1.1rem;
  line-height: 1.8;
}

.impl-block-inclu.right-inclu {
  text-align: left;
  position: absolute;   
  left: 28rem;
  width: 45rem;
  top: 8rem;
}

.impl-block-inclu.right-inclu ul {
  list-style: disc;    
  padding-left: 1.5rem;  
  margin: 0;
}

.impl-block-inclu.right-inclu li {
  margin-bottom: 0.8rem;
}

.impl-block-inclu.left-inclu {
  align-self: flex-start;
  text-align: left;
  position: relative;   
 left: 30rem;
  width: 40rem;
  top: 30rem;
}

.impl-block-inclu.right1-inclu {
  align-self: flex-start;
  text-align: left;
  position: relative;   
  left: 25rem;
  width: 50rem;
  top: 32rem;
}


.impl-block-inclu.right1-inclu ul {
  list-style: disc;
  padding-left: 1.5rem;
  margin-top: 0.5rem;
}

.impl-block-inclu.right2-inclu {
  align-self: flex-start;
  text-align: left;
  position: relative;   
  right: 22rem;
  width: 45rem;
  top: -12rem;
}

.references-sfhmmy1-inclu {
  position: absolute;
  top: 109rem;         
  right: 68rem;            
  padding: 1rem 2rem;
  background: #823d86; 
  border-radius: 20px;
  z-index: 10;
}

.references-sfhmmy1-title-inclu {
  color: #ffffff;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
}

.sfhmmy1-references-inclu {
  position: absolute;
  top: 112rem;                 
  right: 37rem;           
  margin-left: -12rem;  
  width: 700px;
  max-width: 700px;
  background: #823d86; 
  padding: 1.5rem 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  font-size: 0.95rem;
  line-height: 1.5;
  color: #ffffff; 

}

.sfhmmy1-references-inclu a {
  color: #ffffff; 
  text-decoration: underline;
}

.sfhmmy1-references-inclu li::marker {
  color: #ffffff;
  font-weight: bold;
}

.sfhmmy1-references-inclu ol {
  margin: 0;
  padding-left: 20px;
}

.sfhmmy1-references-inclu li {
  margin-bottom: 10px;
}

/*outcome part*/
.outcomes-image-left-inclu {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  z-index: 10;
  width: 30rem;
  top: 150rem;
  left: 50rem;  
}


.outcomes-text-inclu {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 37rem;
  left: 14rem;
  width: 35rem;
  color: #1b4332;
}
.outcomes-text-inclu ul {
  list-style: disc;    
  padding-left: 1.5rem;  
  margin: 0;
}

.outcomes-text-inclu li {
  margin-bottom: 0.8rem;
}


.outcomes-image-inclu {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  left: 18rem;  
  z-index: 10;
  width: 30rem;
  top: 127rem;
}

.outcomes-image-right-inclu {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  z-index: 10;
  width: 30rem;
  top: 150rem;
  right: 45rem;  
}

.outcomes-text1-inclu {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 27rem;
  right: 10rem;
  width: 90rem;
  color: #ffffff;
}
.outcomes-text1-inclu ul {
  list-style: disc;    
  padding-left: 1.5rem;  
  margin: 0;
}

.outcomes-text1-inclu li {
  margin-bottom: 0.8rem;
}

.greentxt-outcomes-inclu{
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 12rem;
  right: 3rem;
  width: 90rem;
  color: #1b4332;
}






/*why is it important part*/
.important-section-inclu {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin: 10rem auto;   
  max-width: 1200px;
}

.important-image-inclu {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  right: 15rem;  
  z-index: 10;
  width: 30rem;
  top: 220rem;
}

.important-text-inclu {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 42rem;
  left: 5rem;
  width: 60rem;
  color: #1b4332;
}

/* What did we gain section */
.gain-section-inclu {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin: 10rem auto;   
  max-width: 1200px;
}

.gain-image-inclu {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  right: 35rem;  
  z-index: 10;
  width: 30rem;
  top: 257rem;
}

.gain-text-inclu {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 45rem;
  left: 5rem;
  width: 60rem;
  color: #fff;
  padding-bottom: 19rem;
}

.iThess-image-inclu {
  display: block;
  margin: 0 0 0 auto;
  width: 50rem; 
  height: auto;
}

/*screens*/
@media (max-width: 1280px) {


.sfhmmy-section-inclu {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
}

.sfhmmy-text-container-inclu {
  position: relative;   
  top: 7rem;            
  margin-right: 320px; 
  color: #1b4332;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  line-height: 1.8;
  width: 70rem;
  right: 3rem;
}

.introduction-sf-inclu {
  position: absolute;
  width: 300px;   
  height: auto;
  border-radius: 12px;
  top: -4rem;
  right: 43rem;  
  z-index: 10;
}



/* Organization section */
.organization-section-inclu {
  margin-top: 4rem;
  text-align: center;
}

.organization-image-inclu {
  position: absolute;
  width: 300px;   
  height: auto;
  border-radius: 12px;
  top: 20rem;
  right: 45rem;  
  z-index: 10;
}

.organization-text-inclu {
  position: relative;   
  background: #823d86;
  color: white;
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 10rem;
  right: 5rem;
  width: 70rem;
}

.organization-text-inclu ul {
  margin-left: 1.5rem;
  list-style: disc;
}

/* Implementation section */
.implementation-section-inclu {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 10rem;
  right: 1rem;
  width: 70rem;
  color: #1b4332;
}

.implementation-image-inclu {
  position: absolute;
  width: 300px;   
  height: auto;
  border-radius: 12px;
  right: 47rem;  
  z-index: 10;
  width: 30rem;
  bottom: 40rem;
}

.impl-block-inclu {
  padding: 1rem;
  font-size: 1.1rem;
  line-height: 1.8;
}

.impl-block-inclu.right-inclu {
  text-align: left;
  position: absolute;   
  left: 28rem;
  width: 40rem;
  top: 8rem;
}

.impl-block-inclu.right-inclu ul {
  list-style: disc;    
  padding-left: 1.5rem;  
  margin: 0;
}

.impl-block-inclu.right-inclu li {
  margin-bottom: 0.8rem;
}

.impl-block-inclu.left-inclu {
  align-self: flex-start;
  text-align: left;
  position: relative;   
 left: 30rem;
  width: 40rem;
  top: 30rem;
}

.impl-block-inclu.right1-inclu {
  align-self: flex-start;
  text-align: left;
  position: relative;   
  left: 25rem;
  width: 40rem;
  top: 32rem;
}


.impl-block-inclu.right1-inclu ul {
  list-style: disc;
  padding-left: 1.5rem;
  margin-top: 0.5rem;
}

.impl-block-inclu.right2-inclu {
  align-self: flex-start;
  text-align: left;
  position: relative;   
  right: 10rem;
  width: 35rem;
  top: -12rem;
}

.references-sfhmmy1-inclu {
  position: absolute;
  top: 122rem;         
  right: 55rem;            
  padding: 1rem 2rem;
  background: #823d86; 
  border-radius: 20px;
  z-index: 10;
}

.references-sfhmmy1-title-inclu {
  color: #ffffff;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
}

.sfhmmy1-references-inclu {
  position: absolute;
  top: 125rem;                 
  right: 37rem;           
  margin-left: -12rem;  
  width: 500px;
  background: #823d86; 
  padding: 1.5rem 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  font-size: 0.95rem;
  line-height: 1.5;
  color: #ffffff; 

}

.sfhmmy1-references-inclu a {
  color: #ffffff; 
  text-decoration: underline;
}

.sfhmmy1-references-inclu li::marker {
  color: #ffffff;
  font-weight: bold;
}

.sfhmmy1-references-inclu ol {
  margin: 0;
  padding-left: 20px;
}

.sfhmmy1-references-inclu li {
  margin-bottom: 10px;
}

/*outcome part*/
.outcomes-image-left-inclu {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  z-index: 10;
  width: 20rem;
  top: 165rem;
  left: 50rem;  
}


.outcomes-text-inclu {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 37rem;
  left: 14rem;
  width: 35rem;
  color: #1b4332;
}
.outcomes-text-inclu ul {
  list-style: disc;    
  padding-left: 1.5rem;  
  margin: 0;
}

.outcomes-text-inclu li {
  margin-bottom: 0.8rem;
}


.outcomes-image-inclu {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  left: 18rem;  
  z-index: 10;
  width: 30rem;
  top: 139rem;
}

.outcomes-image-right-inclu {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  z-index: 10;
  width: 20rem;
  top: 165rem;
  right: 45rem;  
}

.outcomes-text1-inclu {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 27rem;
  right: 10rem;
  width: 90rem;
  color: #ffffff;
}
.outcomes-text1-inclu ul {
  list-style: disc;    
  padding-left: 1.5rem;  
  margin: 0;
}

.outcomes-text1-inclu li {
  margin-bottom: 0.8rem;
}

.greentxt-outcomes-inclu{
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 12rem;
  right: -3rem;
  width: 80rem;
  color: #1b4332;
}






/*why is it important part*/
.important-section-inclu {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin: 10rem auto;   
  max-width: 1200px;
}

.important-image-inclu {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  right: 15rem;  
  z-index: 10;
  width: 30rem;
  top: 230rem;
}

.important-text-inclu {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 37rem;
  left: 5rem;
  width: 60rem;
  color: #1b4332;
}

/* What did we gain section */
.gain-section-inclu {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin: 10rem auto;   
  max-width: 1200px;
}

.gain-image-inclu {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  right: 35rem;  
  z-index: 10;
  width: 30rem;
  top: 265rem;
}

.gain-text-inclu {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 38rem;
  left: 5rem;
  width: 60rem;
  color: #fff;
  padding-bottom: 18rem;
}

.iThess-image-inclu {
  display: block;
  margin: 0 0 0 auto;
  width: 50rem; 
  height: auto;
}

}