

.sfhmmy-section-edu {
  position: relative;
  width: 90%;
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
}

.introduction-sfhmmy-edu{
  position: absolute;
  width: 300px;   
  height: auto;
  border-radius: 12px;
  top: -4rem;
  right: 43rem;  
  z-index: 10;
}

.sfhmmy-text-container-edu{
  position: relative;   
  top: 7rem;            
  margin-right: 320px; 
  color: #1b4332;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  line-height: 1.8;
  width: 70rem;
}

/* Organization section */
.organization-section-edu {
  margin-top: 4rem;
  text-align: center;
}

.organization-image-edu {
  position: absolute;
  width: 300px;   
  height: auto;
  border-radius: 12px;
  top: 27rem;
  right: 45rem;  
  z-index: 10;
}

.organization-text-edu {
  position: relative;   
  background: #823d86;
  color: white;
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 11rem;
  right: 1rem;
  width: 70rem;
}

.organization-text-edu ul {
  margin-left: 1.5rem;
  list-style: disc;
}

/* Implementation section */
.implementation-section-edu {
  margin-top: 4rem;
  text-align: center;
}

.implementation-image-edu-sfhmmy {
  position: absolute;
  width: 300px;   
  height: auto;
  border-radius: 12px;
  right: 40rem;  
  z-index: 10;
  width: 30rem;
  top: 52rem;
}

.impl-block-edu {
  padding: 1rem;
  font-size: 1.1rem;
  line-height: 1.8;
}

.impl-block-edu.center-edu {
  position: relative;
  color: #1b4332;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  line-height: 1.8;
  width: 50rem;
  top: 20rem;
  right: 20rem;
}

.impl-block-edu.center-edu ul {
  list-style: disc;
  list-style-position: inside;
  padding-left: 0; 
  margin: 0;
}

.impl-block-edu.center-edu li {
  margin-bottom: 0.8rem;
}

/*references*/
.references-edu {
  position: absolute;
  top: 78rem;         
  right: 10rem;            
  padding: 1rem 2rem;
  background: #823d86; 
  border-radius: 20px;
  z-index: 10;
}

.references-edu-title {
  color: #ffffff;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
}

.edu-references {
  position: absolute;
  top: 80rem;                 
  left: 50rem;           
  margin-left: -12rem;  
  width: 700px;
  max-width: 700px;
  background: #823d86; 
  padding: 1.5rem 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  font-size: 0.95rem;
  line-height: 1.5;
  color: #ffffff; 

}

.edu-references a {
  color: #ffffff; 
  text-decoration: underline;
}

.edu-references li::marker {
  color: #ffffff;
  font-weight: bold;
}

.edu-references ol {
  margin: 0;
  padding-left: 20px;
}

.edu-references li {
  margin-bottom: 10px;
}

/*pc image*/
.impl-pc-image{
  position: absolute;
  width: 300px;   
  height: auto;
  border-radius: 12px;
  left: 40rem;  
  z-index: 10;
  width: 30rem;
  top: 53rem;
}


/*outcome part*/


.outcomes-image-edu-sfhmmy {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  left: 16rem;  
  z-index: 10;
  width: 30rem;
  top: 96rem;
}


.outcomes-text-edu-sfhmmy {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 30rem;
  left: 19rem;
  width: 60rem;
  color: #1b4332;
}

.outcomes-text-edu-sfhmmy ul {
  list-style: disc;    
  padding-left: 1.5rem;  
  margin: 0;
}

.outcomes-text-edu li {
  margin-bottom: 0.8rem;
}


.outcomes-image-left-edu {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  z-index: 10;
  width: 35rem;
  top: 115rem;
  left: 50rem;  
}

.outcomes-image-right-edu {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  z-index: 10;
  width: 35rem;
  top: 115rem;
  right: 45rem;  
}

.outcomes-text-edu-sfhmmy1 {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 42rem;
  right: 10rem;
  width: 90rem;
  color: #ffffff;
}


/*why is it important part*/
.important-section-edu {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin: 10rem auto;   
  max-width: 1200px;
}

.important-image-edu-sfhmmy {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  right: 15rem;  
  z-index: 10;
  width: 30rem;
  top: 148rem;
}

.important-text-edu-sfhmmy {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 38rem;
  left: 5rem;
  width: 60rem;
  color: #1b4332;
}

/* What did we gain section */
.gain-section-edu {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin: 10rem auto;   
  max-width: 1200px;
}

.gain-image-edu-sfhmmy {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  right: 35rem;  
  z-index: 10;
  width: 30rem;
  top: 171rem;
}

.gain-text-edu-sfhmmy {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 35rem;
  left: 5rem;
  width: 60rem;
  color: #fff;
  padding-bottom: 10rem;
}

.iThess-image-edu {
  display: block;
  margin: 0 0 0 auto;
  width: 50rem; 
  height: auto;
}

/*screens*/
@media (max-width: 1280px) {

.sfhmmy-text-container-edu {
  position: relative;   
  top: 7rem;            
  margin-right: 320px; 
  color: #1b4332;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  line-height: 1.8;
  width: 60rem;
}


.organization-image-edu {
  position: absolute;
  width: 300px;   
  height: auto;
  border-radius: 12px;
  top: 25rem;
  right: 45rem;  
  z-index: 10;
}

.organization-text-edu {
  position: relative;   
  background: #823d86;
  color: white;
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 10rem;
  right: 4rem;
  width: 70rem;
}


/* Implementation section */
.implementation-section-edu {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 25rem;
  right: 2rem;
  width: 70rem;
  color: #1b4332;
}

.implementation-image-edu-sfhmmy {
  position: absolute;
  width: 300px;   
  height: auto;
  border-radius: 12px;
  right: 45rem;  
  z-index: 10;
  width: 20rem;
  top: -22rem;
}

.impl-pc-image {
  text-align: left;
  position: absolute;   
  left: 40rem;
  width: 25rem;
  top: -19rem;
}

.impl-block-edu.center-edu{
  position: relative;
  color: #1b4332;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  line-height: 1.8;
  width: 45rem;
  top: -10rem;
  right: 7rem;

}

.references-edu {
  position: absolute;
  top: 7rem;         
  right: 19rem;            
  padding: 1rem 2rem;
  background: #823d86; 
  border-radius: 20px;
  z-index: 10;
}

.edu-references {
  position: absolute;
  top: 10rem;                 
  left: 51rem;           
  margin-left: -12rem;  
  width: 500px;
  max-width: 500px;
  background: #823d86; 
  padding: 1.5rem 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  font-size: 0.95rem;
  line-height: 1.5;
  color: #ffffff; 
}



/*outcome part*/
.outcomes-image-edu-sfhmmy {
  position: absolute;
  height: auto;
  border-radius: 12px;
  left: 16rem;  
  z-index: 10;
  width: 25rem;
  top: 102rem;
}

.outcomes-text-edu-sfhmmy {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 22rem;
  left: 16rem;
  width: 35rem;
  color: #1b4332;
}

.outcomes-image-left-edu {
  position: absolute;
  height: auto;
  border-radius: 12px;
  z-index: 10;
  width: 25rem;
  top: 120rem;
  left: 46rem;  
}

.outcomes-image-right-edu {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  z-index: 10;
  width: 25rem;
  top: 120rem;
  right: 46rem;   
}

.outcomes-text-edu-sfhmmy1 {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 29rem;
  left: -2rem; 
  width: 70rem;
  color: #fff;
}

/*why is it important part*/
.important-image-edu-sfhmmy {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  right: 20rem;  
  z-index: 10;
  width: 25rem;
  top: 146rem;
}

.important-text-edu-sfhmmy {
  position: relative;   
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 23rem;
  left: 3rem;
  width: 60rem;
  color: #1b4332;
}

/* What did we gain section */
.gain-section-edu {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  margin: 10rem auto;   
  max-width: 1200px;
}

.gain-image-edu-sfhmmy {
  position: absolute;
  width: 250px;   
  height: auto;
  border-radius: 12px;
  right: 35rem;  
  z-index: 10;
  width: 25rem;
  top: 165rem;
}

.gain-text-edu-sfhmmy {
  position: relative;
  padding: 2rem;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8;
  text-align: left;
  top: 18rem;
  left: 5rem;
  width: 60rem;
  color: #fff;
  padding-bottom: 2rem;
}

.iThess-image-edu {
  display: block;
  margin: -10rem 0 0 auto;
  width: 50rem;
  height: auto;
}
}