.studconf-inclu-row1{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/studconf/bg-1.webp")}
.studconf-inclu-row2{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/studconf/bg-2.webp")}
.studconf-inclu-row3{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/studconf/bg-3.webp")}
.studconf-inclu-row4{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/studconf/bg-4.webp")}
.studconf-inclu-row5{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/studconf/bg-5.webp")}

.conf-info{
    background-color: #1b4332;
    color: #d8f3dc;
}