.symbiose-inclu-row1{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/symbiose/bg-1.webp")}
.symbiose-inclu-row2{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/symbiose/bg-2.webp")}
.symbiose-inclu-row3{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/symbiose/bg-3.webp")}
.symbiose-inclu-row4{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/symbiose/bg-4.webp")}
.symbiose-inclu-row5{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/symbiose/bg-5.webp")}
