.symbiose-edu-row1{background-image:url("https://static.igem.wiki/teams/5684/wikipics/education/symbiose/bg-1.webp")}
.symbiose-edu-row2{background-image:url("https://static.igem.wiki/teams/5684/wikipics/education/symbiose/bg-2.webp")}
.symbiose-edu-row3{background-image:url("https://static.igem.wiki/teams/5684/wikipics/education/symbiose/bg-3.webp")}
.symbiose-edu-row4{background-image:url("https://static.igem.wiki/teams/5684/wikipics/education/symbiose/bg-4.webp")}
.symbiose-edu-row5{background-image:url("https://static.igem.wiki/teams/5684/wikipics/education/symbiose/bg-5.webp")}
.symbiose-edu-row6{background-image:url("https://static.igem.wiki/teams/5684/wikipics/education/symbiose/bg-6.webp")}
