.syrrako-inclu-row1{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/syrrako/bg-1.webp")}
.syrrako-inclu-row2{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/syrrako/bg-2.webp")}
.syrrako-inclu-row3{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/syrrako/bg-3.webp")}
.syrrako-inclu-row4{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/syrrako/bg-4-2.webp")}
.syrrako-inclu-row5{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/syrrako/bg-5.webp")}
