.tif-sci-row1{background-image:url("https://static.igem.wiki/teams/5684/wikipics/science-communication/tif/bg-1.webp")}
.tif-sci-row2{background-image:url("https://static.igem.wiki/teams/5684/wikipics/science-communication/tif/bg-2.webp")}
.tif-sci-row3{background-image:url("https://static.igem.wiki/teams/5684/wikipics/science-communication/tif/bg-3.webp")}
