.tif-inclu-row1{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/tif/bg-4.webp")}
.tif-inclu-row2{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/tif/bg-5.webp")}
.tif-inclu-row3{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/tif/bg-6.webp")}
.tif-inclu-row4{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/tif/bg-7.webp")}
.tif-inclu-row5{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/tif/bg-8.webp")}

