.yoga-inclu-row1{background-image:url("https://static.igem.wiki/teams/5684/wikipics/education/girlsempower/bg-4-2.webp")}
.yoga-inclu-row2{background-image:url("https://static.igem.wiki/teams/5684/wikipics/education/girlsempower/bg-5.webp")}
.yoga-inclu-row3{background-image:url("https://static.igem.wiki/teams/5684/wikipics/education/girlsempower/bg-6.webp")}
.yoga-inclu-row4{background-image:url("https://static.igem.wiki/teams/5684/wikipics/education/girlsempower/bg-1-3.webp")}
.yoga-inclu-row5{background-image:url("https://static.igem.wiki/teams/5684/wikipics/inclusivity/yoga/bg-1.webp")}
.yoga-inclu-row6{background-image:url("https://static.igem.wiki/teams/5684/wikipics/education/girlsempower/bg-4-2.webp")}
